.aboutSection {
    padding: 80px 50px;
    background-color: #ffffff; /* Light grey background */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Center everything vertically */
  }
  
  .sectionHeading {
    font-size: 2.5rem;
    font-weight: bold;
    color: #003366; /* Deep blue for the heading */
    text-align: center;
    margin-bottom: 40px; /* Space between heading and the content */
  }
  .sectionHeading::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #ff6600; /* Accent color */
    margin: 15px auto;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    gap: 50px;
  }
  
  .imageWrapper {
    flex: 1;
    max-width: 45%;
  }
  
  .aboutImage {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(231, 125, 26, 0.09);
    transition: transform 0.3s ease;
  }
  
  .aboutImage:hover {
    transform: scale(1.05);
  }
  
  .aboutText {
    flex: 1.5;
    max-width: 50%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); */
  }
  
  .boxHeading {
    font-size: 2rem;
    font-weight: bold;
    color: #003366;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .aboutBox {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.923);
    border-radius: 10px;
  }
  
  .aboutPara {
    font-size: 1.2rem;
    color: #333333;
    line-height: 1.8;
    margin-bottom: 15px;
  }
  
  .memberCount {
    font-size: 1.5rem;
    color: #003366;
    font-weight: bold;
    text-align: center;
  }
  
  .number {
    
    font-size: 1.8rem;
    color: #ff6600;
    font-weight: bold;
  }
  .number::before{
    word-spacing: 25px;
  }